@page "/game"

@inject GameSignalRClient _signalRClient
@inject NavigationManager NavigationManager

<div class="game-container">
    <div class="game-container__scene">
        <Scene></Scene>
    </div>
    <div class="game-container__side-bar">
        side
    </div>
    <div class="game-container__bottom-bar">
        bottom
        <RebateSlider></RebateSlider>
    </div>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        if (!_signalRClient.IsConnected)
        {
            NavigationManager.NavigateTo("/");
        }

        _signalRClient.Closed += async (_) =>
        {
            NavigationManager.NavigateTo("/");
        };

        return base.OnInitializedAsync();
    }
}
