@page "/"

@inject HubConnection _hubConnection

<PageTitle>Rebates Simulator</PageTitle>

<h1>Rebates Simulator</h1>

<input type="button" value="Join game" @onclick="@OnJoinClick" />

@code {
    private async Task OnJoinClick()
    {
        
    }
}
