@page "/"

@inject GameSignalRClient _signalRClient
@inject GameStateWrapper _gameState
@inject NavigationManager NavigationManager

<PageTitle>Rebates Simulator</PageTitle>

<main>
    <a href="https://enable.com" target="_blank">Powered by Enable</a>

    <h1>Rebates Simulator</h1>

    <form class="content px-4" @onsubmit="@OnJoinClick">
        <input type="text" id="name" name="name" required @bind="_name" />
        <input type="submit" value="Join game" @onclick="@OnJoinClick" />
        <br />
        <input type="button" value="Spectate" @onclick="@OnSpectateClick" />
    </form>
</main>

@code {
    private string _name;

    protected override async Task OnInitializedAsync()
    {
        await _signalRClient.Stop();
        _gameState.Clear();

        await base.OnInitializedAsync();
    }

    private async Task OnJoinClick()
    {
        await Proceed(joinGame: true);
    }

    private async Task OnSpectateClick()
    {
        await Proceed();
    }

    private async Task Proceed(bool joinGame = false)
    {
        await _signalRClient.Start();

        if (joinGame)
        {
            var joinedPlayerId = await _signalRClient.JoinGame(_name);

            if (joinedPlayerId is not null)
            {
                _gameState.PlayerId.OnNext(joinedPlayerId.Value);
            }
            else
            {
                return;
            }
        }

        NavigationManager.NavigateTo("/game");
    }
}
